.ballonContainer {
  width: 400px;
  height: 250px;
  margin: 30px 0 0 35px;
}
.ymaps-2-1-79-balloon {
  box-shadow: none !important;
  width: 430px;
  height: 219px !important;
  top: -305px !important;
  left: -55px !important;
}

.ymaps-2-1-79-balloon__content {
  padding: 0 !important;
  background-color: rgba(11, 10, 9, 0.85) !important;
  -webkit-backdrop-filter: blur(2px) !important;
  backdrop-filter: blur(2px) !important;
  border-radius: 20px;
  width: 400px;
  height: 250px !important;
}

.ymaps-2-1-79-balloon__close-button {
  opacity: none !important;
}

.ymaps-2-1-79-balloon__layout {
  background: transparent !important;
  border: none !important;
}

@media screen and (max-width: 800px) {
  .ballonContainer {
    width: 225px;
    height: 125px;
    margin: 15px 0 0 20px;
  }
  .ymaps-2-1-79-balloon__content {
    width: 266px;
    height: 160px !important;
  }
  .ymaps-2-1-79-balloon {
    width: 293px;
    height: 160px !important;
    top: -215px !important;
    left: -54px !important;
  }
  .ymaps-2-1-79-balloon__close {
    top: -13px;
  }
}

@media screen and (max-width: 447px) {
  .ymaps-2-1-79-balloon {
    top: -268px !important;
    left: 8px !important;
    box-shadow: none !important;
    background-color: transparent !important;
  }
  .ymaps-2-1-79-copyrights-pane {
    inset: auto 0px 0px !important;
  }
}
