.ballonContainer {
  width: 400px;
  min-height: 235px;
}
.ymaps-2-1-79-balloon {
  box-shadow: none !important;
  width: 430px;
  height: 235px !important;
  top: -305px !important;
  left: -55px !important;
}

.ymaps-2-1-79-balloon__content {
  padding: 0 !important;
  background-color: rgba(11, 10, 9, 0.85) !important;
  -webkit-backdrop-filter: blur(2px) !important;
  backdrop-filter: blur(2px) !important;
  border-radius: 20px;
  width: 385px;
  height: fit-content !important;
}

.ymaps-2-1-79-balloon__close-button {
  opacity: none !important;
}

.ymaps-2-1-79-balloon__layout {
  background: transparent !important;
  border: none !important;
}

@media screen and (max-width: 800px) {
  .ballonContainer {
    width: 266px;
    height: 159px;
    min-height: 120px;
  }
  .ymaps-2-1-79-balloon__content {
    width: 266px;
    height: 159px !important;
  }
  .ymaps-2-1-79-balloon {
    width: 293px;
    height: 159px !important;
    top: -215px !important;
    left: -54px !important;
  }
  .ymaps-2-1-79-balloon__close {
    top: -13px;
  }
}

@media screen and (max-width: 447px) {
  .ymaps-2-1-79-balloon {
    top: -268px !important;
    left: 8px !important;
    box-shadow: none !important;
    background-color: transparent !important;
  }
  .ymaps-2-1-79-copyrights-pane {
    inset: auto 0px 0px !important;
  }
}
