.wrapper {
  max-width: 1120px;
  width: 100%;
  text-align: left;
}

.way {
  margin: 40px 0 0;
  padding: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
}

.serviceWrapper {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 250px;
  gap: 20px;
}

.servicePhoto {
  width: 455px;
  height: 388px;
  border-radius: 20px;
  object-fit: cover;
  background: rgba(var(--black-dark), var(--alfa-light));
}

.service {
  max-width: 550px;
  width: 100%;
}

.serviceName {
  margin: 0;
  padding: 0;
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-1);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
}

.raitingWrappper {
  display: flex;
  gap: 15px;
  margin: 21px 0 0;
}

.starImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.rating {
  margin: 0;
  padding: 0;
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-3);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
}

.aboutHeader {
  margin: 50px 0 10px;
  padding: 0;
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-3);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
}

.workInfo {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
}

.serviceInfo {
  display: flex;
  justify-content: space-between;
  max-width: 455px;
  width: 100%;
}

.buttonsWrapper {
  display: flex;
  gap: 20px;
  max-width: 550px;
}

.application {
  display: flex;
  max-width: 360px;
  width: 100%;
  height: 60px;
  padding: 20px 80px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--primary-accent-red);
  color: var(--grayscale-2);
  border: none;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-bold);
  line-height: normal;
  cursor: pointer;
}

.address {
  display: flex;
  max-width: 170px;
  width: 100%;
  height: 60px;
  padding: 20px 80px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  color: var(--black-dark);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-bold);
  line-height: normal;
  border: none;
}

.serviceJobWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 250px;
}

.serviceWorksWrapper {
  max-width: 455px;
  width: 100%;
}

.serviceJobHeader {
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-3);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  margin: 0 0 20px;
}

.jobsWrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-medium);
  line-height: 165%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.serviceCarsWrapper {
  max-width: 550px;
  width: 100%;
}

.carsWrapper {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
}

.carsItem {
  max-width: 170px;
  width: 100%;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-medium);
  line-height: 165%;
}

.addressWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addressWithMap {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addressHEader {
  margin: 0;
  padding: 0;
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-3);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
}

.addressText {
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  margin: 0;
  padding: 0;
}

.reviewHeader {
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-2);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  padding-top: 250px;
  margin: 0;
}

.reviewWrapper {
  display: flex;
  padding-top: 50px;
  column-gap: 95px;
  max-width: 1120px;
  justify-content: space-between;
}

.singleReviewWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.allReviewswWrapper {
  max-width: 285px;
}

.allReviewswButton {
  border: none;
  display: flex;
  width: 285px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--primary-accent-red);

  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  color: var(--grayscale-2);
  margin-top: 50px;
}

.moreReviewswButton {
  margin-top: 60px;
  border: none;
  display: flex;
  width: 430px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--grayscale-3);
  justify-self: center;
  align-self: center;

  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  color: var(--black-dark);
}

.moreReviewswButton:hover {
  cursor: pointer;
  opacity: var(--alfa-medium);
}

.allReviewswButton:hover {
  cursor: pointer;
  opacity: var(--alfa-medium);
}

.allreviewsratingWrapper {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}
.feedBackRating {
  --percent: calc(var(--rating) / 5 * 100%);
  width: 150px;
  font-size: 35px;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--common-yellow) var(--percent),
      #fff var(--percent)
    );
    -webkit-background-clip: text;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
  }
}

.allReviews {
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-big);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  margin: 0;
  padding-top: 25px;
}

.mapWrapper {
  width: 645px;
  height: 150px;
  border-radius: 20px;
  opacity: 0.8;
  overflow: hidden;
}

@media (max-width: 1439px) {
  .wrapper {
    width: 87.337vw;
    padding-top: 100px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    padding-top: 50px;
  }
  .serviceWrapper {
    flex-direction: column-reverse;
    margin-bottom: 100px;
    margin-top: 50px;
  }
  .serviceJobWrapper {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 150px;
  }

  .addressWrapper {
    flex-direction: column;
    gap: 50px;
  }

  .reviewHeader {
    padding-top: 100px;
  }
  .reviewWrapper {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .servicePhoto {
    width: 60%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .mapWrapper {
    width: 87.337vw;
  }
}

@media (max-width: 500px) {
  .serviceInfo {
    flex-direction: column;
  }

  .feedBackRating {
    font-size: 30px;
  }

  .workInfo {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .wrapper {
    padding-top: 0;
  }

  .buttonsWrapper {
    flex-direction: column;
  }

  .address {
    max-width: 360px;
  }

  .serviceJobWrapper {
    margin-bottom: 50px;
  }

  .moreReviewswButton {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .reviewHeader {
    font-size: var(--global-title-font-mobile-size-2);
  }

  .allReviews {
    font-size: var(--global-text-font-mobile-size-common);
    font-weight: 300;
    line-height: 24px;
  }

  .allReviewswButton {
    font-size: var(--global-text-font-mobile-size-common);
  }

  .mapWrapper {
    height: 200px;
  }

  .addressText {
    font-size: var(--global-text-font-mobile-size-common);
    font-weight: 300;
    line-height: 24px;
  }

  .addressHEader {
    font-size: var(--global-title-font-mobile-size-3);
  }

  .addressWrapper {
    gap: 20px;
  }

  .serviceJobHeader {
    font-size: var(--global-title-font-mobile-size-3);
    line-height: 30.8px;
  }

  .carsItem {
    font-size: var(--global-text-font-mobile-size-common);
    font-weight: 300;
    line-height: 24px;
  }

  .jobsWrapper {
    font-size: var(--global-text-font-mobile-size-common);
    font-weight: var(--global-text-font-weight-normal);
    line-height: 24px;
  }

  .serviceJobHeader {
    font-size: var(--global-title-font-mobile-size-3);
    line-height: 30.8px;
  }

  .application {
    font-size: var(--global-text-font-mobile-size-common);
  }

  .address {
    font-size: var(--global-text-font-mobile-size-common);
  }

  .workInfo {
    font-size: var(--global-text-font-mobile-size-common);
    font-weight: var(--global-text-font-weight-normal);
    line-height: 24px;
  }

  .aboutHeader {
    font-size: var(--global-title-font-mobile-size-3);
    line-height: 30.8px;
    margin-bottom: 0;
  }

  .serviceName {
    font-size: var(--global-title-font-mobile-size-3);
    line-height: 30.8px;
  }

  .way {
    display: none;
  }

  .moreReviewswButton {
    font-size: var(--global-text-font-mobile-size-little);
  }
}
