.container {
  max-width: 360px;
  width: 100%;
  display: flex;
  background-color: rgba(123, 104, 126, 0.2);
  border-radius: 20px;
  margin: 50px 0 0;
  padding: 65px 95px;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0 0 20px;
  padding: 0;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form {
  width: 100%;
}

.password_text {
  display: flex;
  justify-content: space-between;
}

.userblock {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.label {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.userButton {
  background-color: transparent;
  color: #dedede;
  border: none;
  cursor: pointer;
  transition: color 0.3s linear;
}

.userButton:hover {
  color: rgba(119, 0, 34, 1);
}

.underline {
  width: 100%;
  background-color: #dedede;
  height: 5px;
  border-radius: 5px;
  margin: 0 0 30px;
}

.underlineDisabled {
  display: none;
}

.subtitle[href='/registration'] {
  font-weight: 700;
}

.tabBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 170px;
  width: 100%;
}

.inputWrapper {
  position: relative;
}

.input {
  margin: 0 0 30px 0;
  max-width: calc(100% - 60px);
  width: 100%;
  height: 30px;
  border-radius: 20px;
  padding: 15px 30px;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  border: none;
  color: #7e7268;
  resize: none;
  box-shadow: inset 0px -45px 0px 20px #ffffff;
}

.inputActive {
  background-color: #ffb3b3;
  box-shadow: inset 0px -45px 0px 20px #ffb3b3;
}

.error {
  position: absolute;
  top: 64px;
  left: 0;
  height: 16px;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffb3b3;
}

.link {
  color: #dedede;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: #770022;
}

.input_password {
  margin: 0 0 40px 0;
}

.eyeButton {
  position: absolute;
  right: 26px;
  top: 18px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/eyesIcon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.eyeButton:hover {
  background-image: url(../../../images/eyesIcon_hover.svg);
}

.eyeButtonActive {
  background-image: url(../../../images/eyesIcon-active.svg);
}

.eyeButtonActive:hover {
  background-image: url(../../../images/eyesIcon-active_hover.svg);
}

.submitButton {
  margin: 20px 0 0;
  width: 100%;
  height: 61px;
  padding: 20px 80px;
  border: none;
  border-radius: 20px;
  background-color: #702;
  color: #dedede;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #3f0012;
}

.submitButton:active {
  background-color: #2e000d;
}

.submitButton_disable {
  background-color: rgba(126, 114, 104, 0.5);
  color: #7a7a7a;
}

.submitButton_disable:hover {
  background-color: rgba(126, 114, 104, 0.5);
}

.registrationBlock {
  display: flex;
  margin: 60px 0 0;
  max-width: 376px;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .container {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 335px;
  }

  .title {
    margin: 0 0 30px;
    font-size: 22px;
    line-height: 140%;
  }

  .tabBlock {
    max-width: 160px;
  }

  .label {
    font-size: 16px;
    line-height: 24px;
  }

  .input {
    margin: 0 0 40px 0;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  .eyeButton {
    right: 21px;
    top: 13px;
  }

  .input_password {
    margin: 0 0 30px 0;
  }

  .registrationBlock {
    margin: 40px 0 0;
    justify-content: center;
  }

  .subtitle[id='newUser'] {
    display: none;
  }

  .subtitle[href='/registration'] {
    font-size: 16px;
    line-height: 24px;
  }
}
