.feedBackWrapper {
}

.feedBackRating {
  --percent: calc(var(--rating) / 5 * 100%);
  width: 150px;
  font-size: 25px;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--common-yellow) var(--percent),
      var(--grayscale-2) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.aboutUser {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.name {
  margin: 0;
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-3);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
}

.date {
  margin: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-little);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
}

.feedBack {
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 29.7px;
  margin: 0;
  padding-top: 20px;
}

.imageWrapper {
  padding-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 170px));
}

.image {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

.imageButtonWrapper {
  position: relative;
}

.imageButton {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

.span {
  border: none;
  position: absolute;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 98%;
  top: 0;
  left: 0;
  font-family: var(--global-text-font);
  font-size: 50px;
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 24px;
  color: var(--white-2);
  border-radius: 20px;
}

.span:hover {
  opacity: var(--alfa-medium);
  cursor: pointer;
  border: 2px solid rgb(126, 119, 119);
}

@media (max-width: 640px) {
  .imageWrapper {
    grid-template-columns: repeat(auto-fill, minmax(150px, 180px));
    gap: 15px;
  }

  .feedBack {
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 24px;
    font-weight: 300;
  }

  .name {
    font-size: var(--global-title-font-mobile-size-3);
  }

  .feedBackRating {
    font-size: 20px;
  }

  .date {
    font-size: var(--global-text-font-mobile-size-little);
    align-self: center;
  }
}

@media (max-width: 450px) {
  .imageWrapper {
    grid-template-columns: repeat(auto-fill, minmax(auto, 150px));
    gap: 15px;
  }
}
