.section {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  padding: 250px 0 0 0;
}

.title {
  margin: 0 0 50px;
  padding: 0;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardscontainer {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 35px;
}
