.section {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  padding: 250px 0 0 0;
}

.title {
  margin: 0 0 50px;
  padding: 0;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardscontainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 35px;
  position: relative;
}

.ellipse {
  position: absolute;
  top: 55px;
  left: -160px;
  width: 395px;
  height: 395px;
  border-radius: 395px;
  background: rgba(119, 0, 34, 0.3);
  filter: blur(100px);
}

@media (max-width: 1439px) {
  .section {
    width: 87.337vw;
    padding-top: 130px;
  }

  .ellipse {
    width: 87vw;
  }
}

@media (max-width: 376px) {
  .title {
    margin-bottom: 30px;
    font-size: 26px;
  }

  .cardscontainer {
    gap: 15px;
  }
}
