.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  margin: 65px 95px 0;
  text-align: center;
}

.modalTitle {
  margin: 0 0 25px;
  padding: 0;
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-2);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  color: var(--white-2);
}

.modalSubtitle {
  margin: 0 0 45px;
  padding: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  color: var(--white-2);
}

.modalButton {
  width: 255px;
  padding: 20px 89.5px;
  margin: 0 0 65px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-accent-red);
  color: var(--white-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  cursor: pointer;
  z-index: 5;
}

.modalButton:hover {
  background-color: var(--primary-hover-red);
}

.modalButton:active {
  background-color: var(--primary-pressed-red);
}

.modalButton_main {
  margin: 0 0 65px;
}

@media screen and (max-width: 550px) {
  .modalContainer {
    width: 335px;
    margin: 185.5px 20px 0;
  }

  .modalButton {
    width: 275px;
    padding: 20px 100px;
    margin: 0 0 185.5px;
  }
}

@media screen and (max-width: 450px) {
  .modalContainer {
    width: 275px;
    margin: 185.5px 30px 0;
  }

  .modalTitle {
    font-size: var(--global-title-font-mobile-size-2);
  }

  .modalSubtitle {
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 24px;
  }
}
