.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  min-width: 320px;
  background-color: var(--black-dark);
  box-sizing: border-box;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  color: var(--grayscale-2);
}
