.section {
  display: flex;
  gap: 98px;
  max-width: 1120px;
  padding-top: 250px;
  position: relative;
}

.img {
  padding-left: 17px;
  width: 455px;
  height: 455px;
  object-fit: cover;
  border-radius: 50%;
}

.eclipse {
  position: absolute;
  top: 351px;
  right: 55px;
  width: 395px;
  height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  border-radius: 395px;
  background: rgba(119, 0, 34, 0.5);
  filter: blur(450px);
}
.container {
  max-width: 550px;
}

.title {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 25px;
  margin: 0;
}

.subtitle {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.7px;
  margin: 0;
  padding-top: 20px;
}

.subtitle:first-of-type {
  padding-top: 50px;
}

.table {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.7px;
  margin: 0;
  padding-left: 27px;
}

.tableSell {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.7px;
}
