.fieldset {
  padding: 0;
  margin: 0 0 100px 0;
  border: 0;
}

.title {
  color: var(--grayscale-2);
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-3);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  margin-block: 0 15px;
}

.fieldset__note {
  color: var(--grayscale-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-little);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  margin-block: 0 20px;
}

.inputContainer {
  max-width: 645px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white-2);
  border: 2px dashed var(--grayscale-2);
  border-radius: 20px;
  cursor: pointer;
  margin-block-end: 15px;
}

.label_focus {
  border-color: var(--primary-hover-red);
}

.input__note {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--grayscale-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-big);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  margin: 0;
}

.input__note::before {
  content: '';
  display: block;
  width: 40px;
  height: 36px;
  background-color: var(--grayscale-2);
  mask: url(../../../images/cameraIcon.svg) no-repeat center;
}

.input__dragNote {
  color: var(--grayscale-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  margin: 0;
}

.input__error {
  height: 17px;
  color: var(--common-alert-color);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-little);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
}

.thumbsContainer {
  max-width: 645px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.thumb {
  position: relative;
  display: inline-flex;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid var(--grayscale-2);
  box-sizing: border-box;
}

.thumb__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: no-repeat center/cover url(../../../images/cancel.png);
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.thumb__button:hover {
  opacity: var(--alfa-medium);
}

.thumb__inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.thumb__img {
  display: block;
  width: auto;
  height: 100%;
}

@media (max-width: 1100px) {
  .form__fieldset {
    gap: 13px 75px;
  }
}

@media (max-width: 900px) {
  .form__fieldset {
    grid-template-columns: 1fr;
    max-width: 335px;
  }
  .form__submitbtn {
    grid-column: auto;
  }

  .btn_grid {
    grid-column: auto;
  }
}

@media (max-width: 640px) {
  .form {
    max-width: 335px;
    align-self: center;
  }

  .form__label {
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 150%;
  }

  .form__input {
    height: 50px;
    font-size: 16px;
    line-height: 150%;
  }

  .btn_grid {
    margin-top: 23px;
  }
}
