.modalOverlay {
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(var(--grayscale-1-rgb), var(--alfa-light));
  justify-content: center;
  align-items: center;
  transition:
    visibility 0.35s linear,
    opacity 0.35s linear;
  visibility: hidden;
  opacity: 0;
}

.modalOverlay_isOpened {
  display: flex;
  visibility: visible;
  opacity: 1;
  z-index: 6;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  min-width: 640px;
  border-radius: 20px;
  background: var(--black-dark);
  align-items: center;
}

.modalCloseButton {
  margin: 50px 50px 0 auto;
  border: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-image: url(../../../images/closeButton.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 7;
}

.modalCloseButton_none {
  width: 0;
  height: 0;
  display: none;
}

.modalButton {
  min-width: 276px;
  padding: 20px 100px;
  margin: 0 0 106px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-accent-red);
  color: var(--grayscale-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  cursor: pointer;
  z-index: 7;
}

.modalButton:hover {
  background-color: var(--primary-hover-red);
}

.modalButton:active {
  background-color: var(--primary-pressed-red);
}

.modalButton_main {
  margin: 0 0 65px;
}

@media screen and (max-width: 780px) {
  .modal {
    max-width: calc(100% - 40px);
    min-width: 535px;
  }

  .modalCloseButton {
    margin: 40px 20px 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .modal {
    min-width: 335px;
  }
}
