.card {
  position: relative;
  width: 100%;
  height: 509px;
  border-radius: 20px;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cardInfoblock {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  width: calc(100% - 80px);
  border-radius: 0px 0px 20px 20px;
  background: rgba(11, 10, 9, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.cardTitle {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0;
  margin: 0 0 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cardRating {
  display: flex;
}

.cardRatingIcon {
  width: 30px;
  height: 30px;
  margin: 0 15px 0 0;
}

.cardRatingNumbers {
  margin: 0;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardInfoList {
  margin: 20px 0 0 0;
  list-style-type: none;
  padding: 0;
}

.cardInfoText {
  margin: 0;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.link {
  text-decoration: none;
  color: #dedede;
}

@media screen and (max-width: 500px) {
  .card {
    position: static;
    width: 80%;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
    background: #7b687e33;
    padding: 28px 28px;
  }

  .cardImg {
    width: 100px;
    height: 115px;
    object-fit: cover;
    border-radius: 20px;
  }

  .cardInfoblock {
    position: static;
    padding: 0;
    background: transparent;
    border-radius: 0;
  }

  .cardTitle {
    font-size: 18px;
    line-height: 27.162px;
  }

  .cardRating {
    display: flex;
  }

  .cardRatingIcon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  .cardRatingNumbers {
    font-family: Raleway;
    font-size: 18px;
    line-height: 27.162px;
  }

  .cardInfoList {
    margin-top: 12px;
  }

  .cardInfoText {
    font-size: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
