.container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.label {
  display: flex;
  padding: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  color: var(--grayscale-2);
  align-items: center;
  box-shadow: inset 0 0 3px -1px var(--black-dark);
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
}

.checkboxLabel::before {
  content: '';
  min-width: 30px;
  height: 30px;
  mask-image: url('../../../images/checkbox.svg');
  background-color: var(--grayscale-2);
  margin: 0 10px 0 0;
}

.checkboxLabel_active::before {
  content: '';
  min-width: 30px;
  height: 30px;
  background-image: url('../../../images/checkbox-active.svg');
  margin: 0 10px 0 0;
}

@media (max-width: 600px) {
  .label {
    font-size: var(--global-text-font-mobile-size-little);
    line-height: 16px;
  }
}
