.container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.label {
  display: flex;
  padding: 0;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  color: #ffffff;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
}

.checkboxLabel::before {
  content: '';
  min-width: 30px;
  height: 30px;
  background-image: url(../../../images/checkbox.svg);
  margin: 0 10px 0 0;
}

.checkboxLabel_active::before {
  content: '';
  min-width: 30px;
  height: 30px;
  background-image: url(../../../images/checkbox-active.svg);
  margin: 0 10px 0 0;
}

@media (max-width: 600px) {
  .label {
    font-size: 14px;
    line-height: 16px;
  }
}
