.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  margin: 65px auto 0;
  padding: 0 95px;
  text-align: center;
}

.modalTitle {
  margin: 0 0 25px;
  padding: 0;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #dedede;
}

.modalSubtitle {
  margin: 0 0 45px;
  padding: 0;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  color: #dedede;
}

.modalButton {
  width: 255px;
  padding: 20px 89.5px;
  margin: 0 0 65px;
  border-radius: 20px;
  border: none;
  background-color: #702;
  color: #dedede;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  z-index: 5;
}

.modalButton:hover {
  background-color: #3f0012;
}

.modalButton:active {
  background-color: #2e000d;
}

.modalButton_main {
  margin: 0 0 65px;
}
