.section {
  display: flex;
  max-width: 1120px;
  padding-top: 110px;
  padding-bottom: 20px;
  position: relative;
}

.eclipse {
  position: absolute;
  top: 105px;
  right: 55px;
  width: 395px;
  height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 395px;
  background: rgba(var(--primary-accent-red-rgb), var(--alfa-medium));
  filter: blur(100px);
}

.title {
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-1);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  margin: 0;
}

.subtitle {
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 29.7px;
  padding-top: 40px;
  margin: 0;
  max-width: 445px;
}

.img {
  width: 550px;
  height: 317px;
  object-fit: cover;
  aspect-ratio: 1/0.6;
}

.img_blendMode {
  mix-blend-mode: lighten;
}

@media (max-width: 1439px) {
  .section {
    width: 87.337vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 0;
  }
  .img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 800px) {
  .img {
    position: absolute;
    opacity: 0.4;
  }
  .title {
    font-size: var(--global-title-font-mobile-size-1);
  }

  .subtitle {
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 24px;
    padding-top: 20px;
  }
}

@media (max-width: 640px) {
  .section {
    padding-top: 60px;
  }
  .img {
    top: 15vw;
  }

  .eclipse {
    top: 10px;
    width: 70.337vw;
    aspect-ratio: 1 / 1;
    height: auto;
  }
}

@media (max-width: 400px) {
  .section {
    padding-bottom: 0;
  }
}
