@keyframes openMenu {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.select {
  color: #fff;
  .immediate-select__control {
    max-width: 273px;
    max-height: 30px;
    background: transparent;
    border: none;
  }

  .immediate-select__control:hover {
    cursor: pointer;
  }

  .immediate-select__control--is-focused {
    box-shadow: none;
    border: none;
  }

  /* .immediate-select__placeholder {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
  } */

  .immediate-select__single-value {
    color: #fff;
    font-family: var(--global-text-font);
    font-size: var(--global-text-font-desktop-size-common);
    font-style: normal;
    font-weight: var(--global-text-font-weight-normal);
    line-height: 165%;
  }

  .immediate-select__indicator {
    color: var(--grayscale-2);
    padding-left: 10px;
    transform: rotate(180deg);
    transition: all 0.6s linear;
  }

  .immediate-select__indicator-separator {
    display: none;
  }

  .css-1xc3v61-indicatorContainer {
    transform: rotate(0deg);
  }

  /* Меню */
  .immediate-select__menu {
    width: 250px;
    left: 0;
    border-radius: 20px;
    background: var(--grayscale-2);
    animation: openMenu 0.35s ease-in-out;
  }

  .immediate-select--is-disabled {
    opacity: var(--alfa-medium);
  }

  /* Итем Меню */
  .immediate-select__menu-list {
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: scroll 1px;

    /* Основной текст */
    font-family: var(--global-text-font);
    font-size: var(--global-text-font-desktop-size-common);
    font-style: normal;
    font-weight: var(--global-text-font-weight-normal);
    line-height: 165%;
  }

  /* ОПЦИЯ */
  .immediate-select__option {
    color: var(--black-dark);
    font-family: var(--global-text-font);
    font-size: var(--global-text-font-desktop-size-common);
    font-style: normal;
    font-weight: var(--global-text-font-weight-normal);
    line-height: 165%;
    padding-left: 35px;
  }

  /* ФОКУС ОПЦИИ */
  .immediate-select__option--is-focused {
    background-color: var(--grayscale-3);
  }

  .immediate-select__option--is-focused:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .immediate-select__option--is-focused:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  /* АКТИНАЯ ОПЦИЯ*/
  .immediate-select__option--is-selected {
    background-color: var(--primary-hover-red);
    color: var(--grayscale-2);
  }

  .immediate-select__option--is-selected:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .immediate-select__option--is-selected:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (max-width: 500px) {
  .select {
    color: #fff;
    .immediate-select__control {
      max-width: 180px;
      max-height: 30px;
      padding: 0px;
    }

    .immediate-select__single-value {
      font-size: var(--global-text-font-mobile-size-little);
      line-height: 24px;
    }

    .immediate-select__indicator {
      padding: 0px;
    }

    .immediate-select__menu {
      width: 200px;
      left: 0;
    }

    .immediate-select__option {
      font-size: var(--global-text-font-mobile-size-common);
      line-height: 24px;
      padding-left: 10px;
    }
  }
}
