@keyframes openMenu {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.immediate-select__control {
  max-width: 250px !important;
  max-height: 30px !important;
  background: transparent !important;
  border: none !important;
}

.immediate-select__control:hover {
  cursor: pointer;
}

.immediate-select__control--is-focused {
  box-shadow: none !important;
  border: none !important;
}

.immediate-select__placeholder {
  color: #fff !important;
  /* Основной текст */
  font-family: Raleway !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 29.7px !important;
}

.immediate-select__single-value {
  color: #fff !important;
  font-family: Raleway !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 29.7px !important;
}

.immediate-select__indicator {
  color: #dedede !important;
  padding-left: 10px !important;
  transform: rotate(180deg);
  transition: all 0.6s linear !important;
}

.immediate-select__indicator-separator {
  display: none !important;
}

.css-1xc3v61-indicatorContainer {
  transform: rotate(0deg);
}

/* Меню */
.immediate-select__menu {
  width: 250px !important;
  left: 0;
  border-radius: 20px !important;
  background: #dedede !important;
  animation: openMenu 0.35s ease-in-out;
}

/* Итем Меню */
.immediate-select__menu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow-y: scroll 1px !important;

  /* Основной текст */
  font-family: Raleway !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 29.7px !important;
}

/* ОПЦИЯ */
.immediate-select__option {
  color: #0a0908 !important;
  /* Основной текст */
  font-family: Raleway !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 29.7px !important;
  padding-left: 35px !important;
}

/* ФОКУС ОПЦИИ */
.immediate-select__option--is-focused {
  background-color: #cbcbcb !important;
}

.immediate-select__option--is-focused:first-of-type {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.immediate-select__option--is-focused:last-of-type {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
/* АКТИНАЯ ОПЦИЯ*/
.immediate-select__option--is-selected {
  background-color: #3f0012 !important;
  color: #dedede !important;
}

.immediate-select__option--is-selected:first-of-type {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.immediate-select__option--is-selected:last-of-type {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
