.title {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: start;
  padding-left: 160px;
  padding-top: 100px;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  padding: 40px 0 60px;
}

.cardscontainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 35px;
  position: relative;
}

.ellipse {
  position: absolute;
  bottom: -246px;
  left: -85px;
  width: 395px;
  height: 395px;
  border-radius: 395px;
  background: rgba(119, 0, 34, 0.3);
  filter: blur(450px);
}

.paginationContainer {
  display: flex;
}

.prevlink {
  background-image: url(../../images/prev-arrow.svg);
}

.nextlink {
  background-image: url(../../images/next-arrow.svg);
}

.arrowlink {
  width: 16px;
  height: 16px;
  margin: 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
