.title {
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-1);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  margin: 0;
  display: flex;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 100px;
}
.options_wrapper {
  display: flex;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  position: relative;
}

.mapWrapper {
  margin-top: 40px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  opacity: 0.8;
  width: 1120px;
  height: 800px;
}

.eclipses {
  position: absolute;
  top: 351px;
  right: 55px;
  width: 395px;
  height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}
.section {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  width: 100%;
  padding: 40px 0 0;
}

.cardscontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-template-rows: auto;
  max-width: 87.337vw;
  justify-content: center;
  align-content: center;
  gap: 40px 35px;
  position: relative;
}

.mapping_label {
  width: 120px; /* Ширина рисунка */
  height: 60px; /* Высота рисунка */
  display: flex; /* Блочный элемент */
  position: relative; /* Относительное позиционирование */
  background-color: var(--grayscale-1);
  border-radius: 20px;
  cursor: pointer;
}

.mapping_input {
  display: none;
}

.mapping_span_card_image {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-image: url('../../images/MapPageCardIcon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 120px;
  height: 60px;
  z-index: 1;
}

.mapping_span_map_image {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url('../../images/MapPageMapIcon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 120px;
  height: 60px;
  z-index: 1;
}

.mapping_input + .mapping_span {
  position: absolute; /* Абсолютное позиционирование */
  overflow: hidden;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--primary-accent-red);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  transition: all 0.3s ease-in;
}

.mapping_input:hover + .mapping_span {
  background-color: var(--primary-hover-red);
}

.mapping_input:checked + .mapping_span {
  left: 60px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pagination {
  display: flex;
  align-self: center;
  margin: 60px auto 0;
  padding: 0;
  list-style: none;
  z-index: 5;
}

.link {
  padding: 3px 12px;
  margin: 0 4px 0 0;
  color: var(--white-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  cursor: pointer;
}

.link_active {
  color: var(--black-dark);
  background-color: var(--white-2);
  border-radius: 5px;
}

.break {
  letter-spacing: 2px;
  line-height: normal;
}

.arrowlink {
  display: block;
  width: 16px;
  height: 16px;
  margin: 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prevlink {
  background-image: url(../../images/prev-arrow.svg);
}

.nextlink {
  background-image: url(../../images/next-arrow.svg);
}

@media screen and (max-width: 1439px) {
  .options_wrapper {
    width: 87.337vw;
  }
  .title {
    font-size: var(--global-title-font-mobile-size-1);
    width: 87.337vw;
  }
  .eclipses {
    width: 87.337vw;
  }
  .mapWrapper {
    width: 84.5vw;
    height: 95vw;
  }
  .section {
    width: 87.337vw;
  }
  .cardscontainer {
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .mapping_span_card_image {
    background-size: 18px 18px;
    width: 80px;
    height: 40px;
  }

  .mapping_span_map_image {
    background-size: var(--global-text-font-mobile-size-big);
    width: 80px;
    height: 40px;
  }

  .mapping_label {
    width: 80px; /* Ширина рисунка */
    height: 40px; /* Высота рисунка */
    background-color: var(--grayscale-1);
    border-radius: 20px;
    cursor: pointer;
  }
  .mapping_input:checked + .mapping_span {
    left: 40px;
  }
  .cardscontainer {
    grid-template-rows: auto;
    row-gap: 20px;
  }

  .pagination {
    margin: 30px auto 0;
  }

  .link {
    padding: 2px 6px;
    font-size: var(--global-text-font-mobile-size-little);
  }

  .link_active {
    border-radius: 3px;
  }

  .arrowlink {
    width: 12px;
    height: 12px;
    margin: 6px;
  }
}
