.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 15px auto 0;
  text-align: center;
  z-index: 5;
}

.modalTitle {
  margin: 0;
  padding: 0;
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-2);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  color: #dedede;
}

.modalSubtitle {
  margin: 0 0 50px;
  padding: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  color: var(--white-2);
}

.modalImage {
  width: 50px;
  height: 50px;
  margin: 45px 0;
}

.ellipse {
  position: absolute;
  width: 395px;
  height: 395px;
  border-radius: 395px;
  background: rgba(var(--primary-accent-red-rgb), var(--alfa-light));
  filter: blur(100px);
  top: calc(50% - 395px / 2);
  left: calc(50% - 395px / 2);
  z-index: 3;
}

.modalButton {
  min-width: 276px;
  padding: 20px 100px;
  margin: 0 0 106px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-accent-red);
  color: var(--white-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  cursor: pointer;
  z-index: 5;
}

.modalButton:hover {
  background-color: var(--primary-hover-red);
}

.modalButton:active {
  background-color: var(--primary-pressed-red);
}

.modalButton_main {
  margin: 0 0 65px;
}

@media screen and (max-width: 575px) {
  .modalContainer {
    width: calc(100% - 56px);
    margin: 54px 20px 0;
  }

  .modalTitle {
    font-size: var(--global-title-font-mobile-size-2);
  }

  .modalSubtitle {
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 24px;
    margin: 0 0 60px;
  }

  .modalImage {
    margin: 40px 0;
  }

  .modalButton {
    margin: 0 20px 136px;
    min-width: 295px;
  }
}
