.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloaderImg {
  display: flex;
  flex-direction: row-reverse;
}

/* .hover {
  width: 115px;
  height: 46.339px;
  background-color: #fff;
  animation: moving 1s infinite linear;
  flex-shrink: 0;
  fill: rgba(255, 255, 255, 0.2);
  filter: blur(25px);
  position: relative;
  z-index: 5;
}

@keyframes moving {
  100% {
    transform: rotate(-180deg);
  }
} */

.preloadeText {
  padding-left: 21px;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 171px;
  margin: 0;
}
