.table {
  width: 100%;
  border-collapse: collapse;
}

.table__head {
  color: var(--grayscale-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-big);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  text-align: left;
}

.head__cell {
  height: 50px;
  padding: 0;
  padding-left: 10px;
}

.table__body {
  color: var(--grayscale-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 24px;
}

.body__date {
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-little);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  height: 30px;
  border-radius: 2px;
  background: rgba(123, 104, 126, 0.2);
  padding-left: 10px;
  border: none;
}

.body__cell {
  height: 80px;
  padding: 0;
  padding-left: 10px;
  border-top: solid 2px rgba(233, 234, 234, 0.4);
}

.body__cell:nth-child(1),
.body__cell:nth-child(2) {
  width: 200px;
}

.body__cell:nth-child(3) {
  width: 320px;
}

.body__cell:nth-child(4) {
  width: 210px;
}

.body__cell_border-none {
  border: none;
}

.cell_textCenter {
  text-align: center;
}
