.ratingWrapper {
  display: flex;
  flex-direction: column;
}

.elementWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ratingNumber {
  margin: 0;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.7px;
}

.singleRating {
  display: flex;
  border-radius: 40px;
  width: 261px;
  height: 10px;
  background-color: #7b687e33;
}

.scale {
  height: 100%;
  background: #dedede;
  border-radius: 40px;
}
