.ratingWrapper {
  display: flex;
  flex-direction: column;
}

.elementWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ratingNumber {
  margin: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
}

.singleRating {
  display: flex;
  border-radius: 40px;
  width: 261px;
  height: 10px;
  background-color: rgba(var(--grayscale-1-rgb), var(--alfa-light));
}

.scale {
  height: 100%;
  background: var(--grayscale-2);
  border-radius: 40px;
}
