.footer {
  width: 100%;
  padding-block: 100px;
  margin-block-start: 250px;
}

[data-theme='light'] .footer {
  background: rgba(123, 104, 126, 0.2);
}

.footer__wrapper {
  max-width: 1120px;
  height: 172px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo_wrapper {
  display: flex;
  color: var(--grayscale-2);
  text-decoration: none;
}

.logo_wrapper:hover {
  color: var(--primary-accent-red);
}

.img {
  width: 45px;
  height: 62px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img_descrition {
  padding-left: 12.47px;
  font-family: Lato;
  font-size: 17.684px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 100px;
  margin: 0;
  padding-top: 9px;
}

.navigation_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navigation_wrapper_section {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: var(--grayscale-2);
  text-decoration: none;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-big);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
}

.link:hover {
  color: var(--primary-accent-red);
}

.address_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.address_link {
  text-decoration: none;
  color: var(--grayscale-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-big);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  max-width: 205px;
}

.address_link:hover {
  color: var(--primary-accent-red);
}

@media screen and (max-width: 1125px) {
  .footer__wrapper {
    max-width: 87.337vw;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding-top: 120px;
  }
  .img_descrition {
    display: none;
  }
  .address_link {
    font-size: var(--global-text-font-mobile-size-big);
  }
  .link {
    font-size: var(--global-text-font-mobile-size-big);
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding-top: 100px;
  }

  .footer__wrapper {
    justify-content: start;
  }

  .link {
    display: none;
  }
}
