.Ymap_link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Ymap {
  height: 235px;
  box-sizing: border-box;
  padding: 35px 45px;
}

.Ymap__image {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  float: left;
  margin-right: 15px;
  object-fit: cover;
}

.Ymap__wrapper {
  width: 100%;
  color: #dedede;
  padding: 0;
}

.Ymap__title {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0;
  max-height: 60px;
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Ymap__rating_wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.Ymap__star_icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.Ymap__rating_subtitle {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.Ymap__timeWork {
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 165%;
  margin: 20.5px 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.Ymap__addres {
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 165%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 800px) {
  .Ymap {
    padding: 15px 20px;
  }
  .Ymap__image {
    width: 80px;
    height: 70px;
    margin-right: 21px;
  }
  .Ymap__title {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .Ymap__rating_wrapper {
    margin-top: 2px;
    gap: 10px;
  }
  .Ymap__star_icon {
    width: 20px;
    height: 20px;
    padding-top: 0;
  }
  .Ymap__rating_subtitle {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    padding-top: 0;
  }
  .Ymap__timeWork {
    font-size: 14px;
    line-height: normal;
    margin: 10px 0 0;
  }
  .Ymap__addres {
    font-size: 14px;
    line-height: normal;
    margin-top: 10px;
  }
}
