@keyframes openMenu {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.select {
  .react-select__control {
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background: #dedede;
  }
  .react-select__control--is-focused {
    box-shadow: none;
    border: none;
  }
  .react-select__placeholder {
    color: #0a0908;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px;
    padding-left: 25px;
  }
  .react-select__single-value {
    color: #0a0908;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px;
    padding-left: 25px;
  }

  .react-select__input-container {
    color: #0a0908;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px;
    padding-left: 25px;
  }

  .react-select__control:hover {
    cursor: pointer;
  }

  .react-select__indicator {
    color: #0a0908;
    transition: all 0.5s linear;
  }

  .react-select__control--menu-is-open {
    .react-select__indicator {
      transform: rotate(180deg);
    }
  }

  .react-select__indicator-separator {
    display: none;
  }

  /* Меню */
  .react-select__menu {
    width: 100%;
    border-radius: 20px;
    background: #dedede;
    animation: openMenu 0.35s ease-in-out;
  }

  .react-select__menu-list {
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: scroll 1px;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px;
    scrollbar-width: none;
  }

  .react-select__menu-list::-webkit-scrollbar {
    width: 0px;
  }

  .react-select__option {
    color: #0a0908;
  }

  .react-select__option--is-focused {
    background-color: #cbcbcb;
  }

  .react-select__option--is-focused:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .react-select__option--is-focused:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  /* АКТИНАЯ ОПЦИЯ*/
  .react-select__option--is-selected {
    background-color: #3f0012;
    color: #dedede;
  }

  .react-select__option--is-selected:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .react-select__option--is-selected:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media (max-width: 420px) {
    .react-select__control {
      margin: 0 auto;
    }

    .react-select__placeholder {
      font-size: 16px;
      line-height: 24px;
    }

    .react-select__single-value {
      font-size: 16px;
      line-height: 24px;
    }

    .react-select__input-container {
      font-size: 16px;
      line-height: 24px;
    }

    .react-select__menu {
      width: 305px;
    }

    .react-select__menu-list {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
