@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 2s linear infinite;
}

.section {
  display: flex;
  width: 1120px;
  height: 120px;
  margin-top: 50px;
  align-items: center;
  border-radius: 20px;
  background: rgba(123, 104, 126, 0.2);
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  justify-items: center;
}

.select_position {
  width: 289px;
}

.inputWrapper {
  position: relative;
}

.formInput {
  width: 282px;
  border-radius: 20px;
  border: 1px solid #dedede;
  height: 100%;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.7px;
  background-color: transparent;
  color: #dedede;
  padding-left: 40px;
  padding-right: 45px;
  text-overflow: ellipsis;
}

.formInput::placeholder {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.7px;
  color: #dedede;
}

.inputButton {
  border: none;
  background-color: transparent;
  position: absolute;
  background-image: url('../../images/rectangle-Search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 18px;
  top: 20px;
  right: 20px;
}

.formButton {
  border: none;
  display: flex;
  width: 255px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #702;

  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #dedede;
}

.inputButton:hover {
  cursor: pointer;
  opacity: 0.6;
}

.formButton:hover {
  background-color: #3f0012;
  cursor: pointer;
}

@media (max-width: 1439px) {
  .section {
    justify-content: center;
  }

  .form {
    width: 95%;
    grid-template-columns: repeat(3, minmax(200px, 320px));
    justify-content: space-around;
    gap: 20px;
  }

  .select_position {
    width: 100%;
  }

  .formInput {
    width: 100%;
    box-sizing: border-box;
  }

  .formButton {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .section {
    width: 87.337vw;
  }
}

@media (max-width: 905px) {
  .form {
    grid-template-columns: repeat(2, minmax(200px, 320px));
  }
  .section {
    height: 190px;
  }
}

@media (max-width: 750px) {
  .formInput {
    padding-left: 15px;
  }
}

@media (max-width: 550px) {
  .section {
    height: fit-content;
    margin-bottom: 150px;
  }

  .form {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 0;
    gap: 20px;
    padding: 30px 0 10px 0;
  }

  .select_position {
    width: 100%;
  }

  .inputWrapper {
    grid-row: 1;
    width: 100%;
    margin: 0 auto;
  }

  .formInput {
    font-size: 16px;
    line-height: 24px;
  }

  .formButton {
    font-size: 16px;
    position: relative;
    top: 50px;
  }
}
