.form__fieldset {
  border: none;
  margin: 0 0 100px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 13px 115px;
}

.form__label {
  color: var(--white-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: start;
}

.label__name {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form__input {
  width: 100%;
  height: 60px;
  color: var(--black-dark);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  padding: 15px 30px 15px 30px;
}

.input__workTime {
  height: 120px;
}

.form__input_error {
  background-color: var(--common-alert-color);
}

.input__error {
  height: 17px;
  color: var(--common-alert-color);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-little);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
}

@media (max-width: 1100px) {
  .form__fieldset {
    gap: 13px 75px;
  }
}

@media (max-width: 900px) {
  .form__fieldset {
    grid-template-columns: 1fr;
    max-width: 335px;
  }

  .label__name {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}

@media (max-width: 640px) {
  .form__label {
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 150%;
  }

  .form__input {
    height: 50px;
    font-size: 16px;
    line-height: 150%;
  }
}
