.wrapper {
  padding-bottom: 2px;
  max-width: 1125px;
  margin-top: 250px;
}

.header {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0;
  margin: 0 0 50px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 45px;
}

.card {
  max-width: 440px;
  max-height: 167px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background: rgba(123, 104, 126, 0.2);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardStep {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardHeader {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0;
  margin: 10px 0 15px;
}

.cardDescription {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

@media (max-width: 1439px) {
  .wrapper {
    width: 87.337vw;
  }

  .cardsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media (max-width: 1188px) {
  .wrapper {
    margin-top: 150px;
  }
  .cardHeader {
    font-size: 22px;
    line-height: 140%;
  }
  .cardDescription {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .cardsWrapper {
    grid-template-columns: repeat(auto-fill, minmax(87.337vw, 1fr));
  }

  .wrapper {
    padding-bottom: 0;
    margin-top: 100px;
  }

  .header {
    font-size: 26px;
    margin: 0 0 30px;
  }

  .cardsWrapper {
    row-gap: 20px;
  }

  .card {
    max-height: 253px;
    padding: 40px 30px;
  }

  .cardStep {
    font-size: 18px;
  }
}
