.wrapper {
  padding-bottom: 2px;
  max-width: 1125px;
  margin-top: 250px;
}

.header {
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-2);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  padding: 0;
  margin: 0 0 50px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 45px;
}

.card {
  max-width: 440px;
  min-height: 167px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background: rgba(var(--grayscale-1-rgb), var(--alfa-light));
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardStep {
  padding: 0;
  margin: 0;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-big);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
}

.cardHeader {
  font-family: var(--global-title-font);
  font-size: var(--global-title-font-desktop-size-3);
  font-style: normal;
  font-weight: var(--global-title-font-weight-bold);
  line-height: normal;
  padding: 0;
  margin: 10px 0 15px;
}

.cardDescription {
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
}

@media (max-width: 1439px) {
  .wrapper {
    width: 87.337vw;
  }

  .cardsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media (max-width: 1188px) {
  .wrapper {
    margin-top: 150px;
  }
  .cardHeader {
    font-size: var(--global-title-font-mobile-size-3);
    line-height: 140%;
  }
  .cardDescription {
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 150%;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .cardsWrapper {
    grid-template-columns: repeat(auto-fill, minmax(87.337vw, 1fr));
  }

  .wrapper {
    padding-bottom: 0;
    margin-top: 100px;
  }

  .header {
    font-size: var(--global-title-font-mobile-size-2);
    margin: 0 0 30px;
  }

  .cardsWrapper {
    row-gap: 20px;
  }

  .card {
    max-height: 253px;
    padding: 40px 30px;
  }

  .cardStep {
    font-size: var(--global-text-font-mobile-size-big);
  }
}
