.notFoundPageContainer {
  grid-row: 2/-1;
  display: grid;
  justify-items: center;
  padding-top: 143px;
  text-align: center;
}

.notFoundPageimg {
  object-fit: cover;
  width: 550px;
  height: 192px;
}

.notFoundPageText {
  margin: 20px 0 50px;
  color: var(--grayscale-2);
  text-align: center;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  width: 377px;
}

.notFoundPageBtn {
  width: 380px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--primary-accent-red);
  color: var(--grayscale-2);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  border: none;
  cursor: pointer;
}

.notFoundPageBtn:hover {
  opacity: var(--alfa-strong);
}

@media (max-width: 650px) {
  .notFoundPageimg {
    width: 400px;
    height: 140px;
  }
}

@media (max-width: 450px) {
  .notFoundPage {
    padding-top: 85px;
  }
  .notFoundPageimg {
    width: 320px;
    height: 111px;
  }
  .notFoundPageBtn {
    width: 320px;
  }
  .notFoundPageText {
    font-size: var(--global-text-font-mobile-size-common);
  }
}
