.reg__choice {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.reg__choicebtn {
  width: 100%;
  color: var(--white-2);
  text-align: center;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  margin: 20px 0 0 0;
  padding: 0 0 10px 0;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: color 0.3s linear;
}

.reg__choicebtn:hover {
  color: rgba(var(--primary-accent-red-rgb), 1);
}

.reg__choicebtn_active {
  border-bottom: solid 5px;
  border-color: var(--white-2);
}

.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.select_position {
  margin: 0;
}

.form__label {
  color: #fff;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input__wrapper {
  position: relative;
}

.form__input {
  width: 100%;
  height: 60px;
  color: var(--common-button-disabled);
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: 165%;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  padding: 15px 64px 15px 30px;
}

.form__input:focus {
  outline: 1px solid black;
}

.form__input_active {
  background-color: var(--common-alert-color);
  box-shadow: inset 0px -45px 0px 20px var(--common-alert-color);
}

.input__icon {
  width: 24px;
  height: 24px;
  border: none;
  background: url('../../../images/icon__dont-see-password.svg') no-repeat center / cover;
  position: absolute;
  padding: 0;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.input__icon:hover {
  background-image: url(../../../images/eyesIcon_hover.svg);
}

.input__icon_active {
  background-image: url(../../../images/eyesIcon-active.svg);
}

.input__icon_active:hover {
  background-image: url(../../../images/eyesIcon-active_hover.svg);
}

.input__error {
  height: 17px;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-little);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  line-height: normal;
  color: var(--common-alert-color);
}

.form__label_checkbox {
  font-size: var(--global-text-font-desktop-size-little);
  line-height: normal;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
  padding: 0;
}

.form__label_checkbox::before {
  content: '';
  width: 30px;
  height: 30px;
  background: url('../../../images/checkbox.svg') no-repeat center / cover;
}

.checkboxLabel_active::before {
  background: url('../../../images/checkbox-active.svg') no-repeat center / cover;
}

.form__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.form__submitbtn {
  width: 100%;
  height: 60px;
  color: var(--white-2);
  font-family: Raleway;
  font-family: var(--global-text-font);
  font-size: var(--global-text-font-desktop-size-common);
  font-style: normal;
  font-weight: var(--global-text-font-weight-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--primary-accent-red-rgb), 1);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
  transition: opacity 0.3s linear;
}

.form__submitbtn:hover {
  opacity: 0.7;
}

.form__submitbtn_disabled {
  color: var(--grayscale-2);
  background-color: rgba(var(--common-button-disabled-rgb), var(--alfa-medium));
}

@media (max-width: 600px) {
  .reg__choice {
    gap: 15px;
  }

  .form__fieldset {
    gap: 40px;
  }

  .form__label {
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 150%;
  }

  .form__input {
    height: 50px;
    font-size: var(--global-text-font-mobile-size-common);
    line-height: 150%;
  }

  .form__label_checkbox {
    margin-top: 30px;
  }
}
